.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.github-logo {
  float: left;
  background-color: darkslategray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: white;
  padding: 30px 100px;
}

.App-link {
  color: #61dafb;
}

.issues-table {
  border: 1px solid lightgray;
  border-radius: 4px;
}

.table-header {
  background-color: rgb(250, 250, 250);
  text-align: left;
  padding: 20px;
}

.table-entry {
  border-top: 1px solid lightgray;
  padding: 20px;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
